# Production site
PUBLIC_SITE="https://rodnye.github.io"

# Base path of production site (for example, for github pages)
PUBLIC_BASE_URL="/wa-catalog"

# Required for admin panel
# See: https://decapbridge.com
PUBLIC_DECAPBRIDGE_ID="b24d4304-f503-45ca-b408-da24db405ebb"
PUBLIC_REPO="rodnye/wa-catalog"
PUBLIC_REPO_BRANCH="data/demo"
