PUBLIC_WHATSAPP_NUMBER=5351234567
PUBLIC_APP_NAME="La Gitana Shop"
PUBLIC_APP_VIP_CODE="gitana"
PUBLIC_APP_DESC="Tienda variada con los mejores productos al mejor precio."
PUBLIC_BANNER_TITLE="Descubre lo que necesitas"
PUBLIC_BANNER_CONTENT="Productos variados con la mejor calidad y precios accesibles. ¡Tu tienda de confianza te espera!"
PUBLIC_STORE_LOCATION="La Habana, Cuba"
PUBLIC_STORE_HOURS="Lun-Dom: 11am - 8pm"

# Production site
PUBLIC_SITE="https://gitana.pages.dev"

# Base path of production site (for example, for github pages)
PUBLIC_BASE_URL="/"

# Required for admin panel
# See: https://decapbridge.com
PUBLIC_DECAPBRIDGE_ID="b24d4304-f503-45ca-b408-da24db405ebb"
PUBLIC_REPO="rodnye/wa-catalog"
PUBLIC_REPO_BRANCH="maite/data"
