# WhatsApp Bot Config
AUTHORIZED_NUMBERS=5351234567,5359876543
DEBOUNCE_MS=10000
BASE_PRODUCT_URL=https://lagitana.page.gd

# GitHub Config
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_REPO=rodnye/wa-catalog
GITHUB_BRANCH=root/data

# Server Config
PORT=3000